{% block body %}
    <div class="count">{{ itemsFoundText }}</div>
    {% if images.singleSRC|default() %}
        {{ include('@HeimrichHannotContaoUtils/image.html.twig', images.singleSRC) }}
    {% endif %}
    {% if(hasContentElement) %}
        {{ contentElement|raw }}
    {% endif %}
    <div class="question">
        {{ question|raw }}
    </div>

    {% for answer in answers %}
        <div class="answer">
            {{ answer|raw }}
        </div>
    {% endfor %}
{% endblock %}